{% load staticfiles %}
{% load project_tags %}

<div class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
    <div class="container">
        <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg d-flex align-items-center justify-content-center">
                <a class="g-mb-20" href="/">
                    <img class="img-fluid" src="{% static 'img/logo/logo.png' %}" alt="Logo">
                </a>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">Категории</h2>
                </div>

                <ul class="u-list-inline g-font-size-12">
                    {% categories as categories %}
                    {% for category in categories %}
                        <li class="list-inline-item g-mb-10">
                            <a class="u-tags-v1 g-brd-around g-brd-white-opacity-0_1 g-bg-primary--hover g-brd-primary--hover g-color-white-opacity-0_8 g-rounded-50 g-py-4 g-px-15"
                               href="{% url 'products_list' slug=category.slug %}">{{ category.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">Разделы</h2>
                </div>

                <nav class="text-uppercase1">
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="about-us.html">О
                                    нас</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover"
                                   href="categories-list.html">Товары</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="delivery.html">Доставка,
                                    оплата</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="contacts.html">Свяжитесь
                                    с нами</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6">
                <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">Контакты</h2>
                </div>

                <address class="g-line-height-2 g-mt-minus-4">
                    Телефон: <a class="g-color-white-opacity-0_7" href="tel:+38 (096) 297-17-51">+38 (096)
                    297-17-51</a>
                    <br>
                    Email:
                    <a class="g-color-white-opacity-0_7" href="mailto:3119414@ukr.net">3119414@ukr.net</a>
                </address>
            </div>
            <!-- End Footer Content -->
        </div>
    </div>
</div>