upstream golf2_app {
    server web:8000;
}

server {
    listen       80;	
    # listen       443;	
	server_name golf2.com.ua.local;
	
	client_max_body_size 20M;
	
	# ssl_certificate         SSL_CERT;
    # ssl_certificate_key     SSL_KEY;
    # ssl_trusted_certificate SSL_CHAIN_CERT;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
	
	location /static {
	alias /static;
		autoindex off;
		access_log off; 
        log_not_found off; 
		expires max;
    }
    
    location /media {
	alias /media;
		autoindex off;
		access_log off; 
		log_not_found off; 
		expires max;
    }
	
	location = /favicon.ico {
        alias /static/img/favicon.png;
    }
	
    location / {    
        proxy_pass http://golf2_app;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_redirect off;
    }
        
    gzip on;
    gzip_disable "msie6";
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;
}
