<div class="mb-4">
    <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Написать письмо:</h2>
    <p class="g-color-gray-dark-v4">Email: <a class="g-color-gray-dark-v2"
                                              href="mailto:{{ page_data.email }}">{{ page_data.email }}</a>
    </p>
</div>

<div class="mb-3">
    <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Позвоните нам:</h2>
    <p class="g-color-gray-dark-v4">Телефон: <a class="g-color-gray-dark-v2"
                                                href="{{ page_data.phone }}">{{ page_data.phone }}</a>
    </p>
</div>