{% extends 'master.html' %}

{% block title %}{% if product.meta_title %}{{ product.meta_title }}{% else %}{{ product.title }}{% endif %}{% endblock %}
{% block keywords %}{{ product.meta_keywords|default_if_none:'' }}{% endblock %}
{% block description %}{{ product.meta_description|default_if_none:'' }}{% endblock %}

{% block content %}

    <!-- Breadcrumbs Block -->
    {% include 'products/product/_partials/breadcrumbs.html' %}
    <!-- End Breadcrumbs Block -->

    <!-- Product Details Block -->
    {% include 'products/product/_partials/product_detail.html' %}
    <!-- End Product Details Block -->

{% endblock %}