{% load thumbnail %}

<section>
    <div class="container g-py-100">
        <div class="row">
            <div class="col-md-6 text-center g-mb-30">
                {% if product.get_photos|length > 0 %}
                    <div class="js-carousel text-center g-pb-30" data-infinite="true"
                         data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-35 g-height-40 g-font-size-18 g-color-gray g-bg-white g-mt-minus-10"
                         data-arrow-left-classes="fa fa-angle-left g-left-0"
                         data-arrow-right-classes="fa fa-angle-right g-right-0">
                        {% for photo in product.get_photos %}
                            <div class="js-slide">
                                <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1"
                                   data-src="{{ photo.image|thumbnail_url:'product_lg' }}" data-is-infinite="true"
                                   data-caption="{{ product.title }}" data-speed="300">
                                    <img class="img-fluid g-rounded-6" src="{{ photo.image|thumbnail_url:'product_md' }}"
                                         alt="">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <img class="img-fluid"
                         src="//via.placeholder.com/800x500?text=No+Image"
                         alt="Изображение отсутствует">
                {% endif %}
            </div>

            <div class="col-md-6">
                <h2>{{ product.title }}</h2>

                <ul class="list-unstyled g-mb-20">
                    {% if product.car %}
                        <li>
                            <span class="g-color-primary">Подходит для:</span>
                            {{ product.car }}
                        </li>
                    {% endif %}

                    {% if product.price %}
                        <li>
                            <span class="g-color-primary">Стоимость:</span>
                            <span class="g-font-size-16 g-font-weight-600">{{ product.price }}
                                {% if product.currency == 1 %}грн{% else %}${% endif %}</span>
                        </li>
                    {% endif %}
                </ul>
            
                {{ product.text|safe }}
            </div>
        </div>
    </div>
</section>