{% extends 'master.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <!-- Forget Password -->
    <section class="g-bg-gray-light-v5">
        <div class="container g-py-100">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-lg-5">
                    <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
                        <header class="text-center mb-4">
                            <h1 class="h2 g-color-black g-font-weight-600">Смена пароля</h1>
                        </header>

                        <!-- Form -->
                        <password-change-form old_password-errors="{{ form.old_password.errors|first }}"
                                              new_password1-errors="{{ form.new_password1.errors|first }}"
                                              new_password2-errors="{{ form.new_password2.errors|first }}"
                                              csrf-field="{% csrf_token %}"></password-change-form>
                        <!-- End Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Forget Password -->
{% endblock %}