{% extends "master.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

    <section class="g-bg-gray-light-v5">
        <div class="container g-py-100">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-lg-5">
                    <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
                        <header class="text-center mb-4">
                            <h1 class="h2 g-color-black g-font-weight-600">Пароль успешно изменён!</h1>
                        </header>

                        <div class="text-center">
                            <a class="btn btn-md u-btn-primary rounded" href="{% url 'login' %}">Войти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <h1></h1>

{% endblock %}