{% extends "master.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

    <section class="g-bg-gray-light-v5">
        <div class="container g-py-100">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-lg-5">
                    <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
                        {% if validlink %}
                            <header class="text-center mb-4">
                                <h1 class="h2 g-color-black g-font-weight-600">Введите новый пароль</h1>
                            </header>

                            <!-- Form -->
                            <password-reset-confirm-form newpassword1-errors="{{ form.new_password1.errors|first }}"
                                                         newpassword2-errors="{{ form.new_password2.errors|first }}"
                                                         csrf-field="{% csrf_token %}"></password-reset-confirm-form>
                            <!-- End Form -->
                        {% else %}
                            <header class="text-center mb-4">
                                <h1 class="h2 g-color-black g-font-weight-600">Ошибка</h1>
                            </header>
                            <p class="text-center g-color-gray-dark-v2 g-font-size-14 mb-0">Ссылка на сброс пароля недействительная. Пожалуйста, запросите новый сброс пароля.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}