{% extends 'master.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <!-- Forget Password -->
    <section class="g-bg-gray-light-v5">
        <div class="container g-py-100">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-lg-5">
                    <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
                        <header class="text-center mb-4">
                            <h1 class="h2 g-color-black g-font-weight-600">Пароль успешно изменён</h1>
                        </header>

                         <p class="text-center g-color-gray-dark-v2 g-font-size-14 mb-0">Теперь при авторизации вы можете вводить ваш новый пароль.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Forget Password -->
{% endblock %}